In [39]:
print("assignment2")

assignment2

In [40]:
import pandas as pd
import numpy as np
from __future__ import print_function
import matplotlib.pyplot as plt

In [41]:
df = pd.read_csv("Train_F.csv")

In [42]:
df.head()

,countyfips,countyname,statename,predicted_deaths_by_october_06,predicted_deaths_by_october_07,predicted_deaths_by_october_08,predicted_deaths_by_october_09,predicted_deaths_by_october_10,predicted_deaths_by_october_11,predicted_deaths_by_october_12,severity_county_5-day
0,36047,Kings,NY,7348.2,7356.8,7366.0,7375.6,7385.8,7396.5,7407.8,3
1,36081,Queens,NY,7274.1,7283.5,7293.3,7303.7,7314.6,7326.1,7338.2,3
2,6037,Los Angeles,CA,6667.5,6679.6,6691.9,6704.5,6717.4,6730.6,6744.3,3
3,17031,Cook,IL,5273.9,5287.0,5300.5,5314.3,5328.6,5343.3,5358.5,3
4,36005,Bronx,NY,4970.3,4982.1,4994.5,5007.4,5021.1,5035.3,5050.2,3

In [25]:
def split_data_random(df):
    shuffle_df = df.sample(frac = 1)
    train_size = int(0.8*len(df))
    train = shuffle_df[:train_size]
    test = shuffle_df[train_size:]
    
    return train, test

In [26]:
def handle_missing_data(df):
    
    """
    This function will replace all ' ?' values from data frame with maximum occuring
    from attribute from that particular attribute
    """
    for col in df.columns:
        col_set = df[col]
        counts = {}
        cnt = 0
        for attribute in col_set.unique():
            counts[attribute] = 0
            if attribute == ' ?':
                cnt += 1
        if not cnt:
            continue
        for attribute in col_set:
            counts[attribute]+=1
        max_freq = ' ?'
        for attribute in col_set:
            if counts[max_freq]<counts[attribute]:
                max_freq = attribute
        for i in range(len(df[col])):
            if df[col][i] == ' ?':
                df[col][i] = max_freq
    return df

In [28]:
training_data, testing_data = split_data_random(df); # Data spilted here

In [29]:
training_data = handle_missing_data(training_data) # missing value modified
testing_data = handle_missing_data(testing_data)